input{
    font-size: 20px;
    border-radius: 6px;
    line-height: 1.5;
    padding: 5px 10px;
    margin: 5px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid rgb(84, 158, 202);
    color: #000080;
    background: #7ad2fa;
    height: 36px;
    width: 100%;
}

.w-div{
    width: max(25%,125px);
}